In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn import neighbors
from sklearn.neighbors import KNeighborsClassifier
from sklearn import svm
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import VotingClassifier

In [2]:
data=pd.read_csv("Adult Census Income Binary Classification dataset.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [8]:
data[' workclass'],class_names=pd.factorize(data[' workclass'])
data[' education'],_=pd.factorize(data[' education'])
data[' marital-status'],_=pd.factorize(data[' marital-status'])
data[' occupation'],_=pd.factorize(data[' occupation'])
data[' relationship'],_=pd.factorize(data[' relationship'])
data[' race'],_=pd.factorize(data[' race'])
data[' sex'],_=pd.factorize(data[' sex'])
data[' native-country'],_=pd.factorize(data[' native-country'])
data[' income'],_=pd.factorize(data[' income'])
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,0,77516,0,13,0,0,0,0,0,2174,0,40,0,0
1,50,1,83311,0,13,1,1,1,0,0,0,0,13,0,0
2,38,2,215646,1,9,2,2,0,0,0,0,0,40,0,0
3,53,2,234721,2,7,1,2,1,1,0,0,0,40,0,0
4,28,2,338409,0,13,1,3,2,1,1,0,0,40,1,0

In [9]:
x=data.iloc[:,:-1].values
y=data.iloc[:,-1:].values.reshape(-1,1)

In [10]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3,random_state=0)

In [11]:
LR=LogisticRegression()
LR.fit(xtrain,ytrain)
LResult=LR.predict(xtest)
metrics.accuracy_score(ytest,LResult)

C:\Users\Administrator\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Administrator\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.7998771624526564

In [12]:
SVM=svm.SVC(kernel='linear')
SVM.fit(xtrain,ytrain)
SResult=SVM.predict(xtest)
metrics.accuracy_score(ytest,SResult)

C:\Users\Administrator\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.7967038591462791

In [13]:
KNN=KNeighborsClassifier()
KNN.fit(xtrain,ytrain)
KResult=KNN.predict(xtest)
metrics.accuracy_score(ytest,KResult)

C:\Users\Administrator\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

0.7703961510901832

In [14]:
DT=DecisionTreeClassifier()
DT.fit(xtrain,ytrain)
DResult=DT.predict(xtest)
metrics.accuracy_score(ytest,DResult)

0.8103183539768656

In [15]:
RF=RandomForestClassifier()
RF.fit(xtrain,ytrain)
RResult=RF.predict(xtest)
metrics.accuracy_score(ytest,RResult)

C:\Users\Administrator\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Administrator\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

0.8527996724332071

In [16]:
classifiers=([['A',LR],['B',SVM],['C',KNN],['D',DT],['E',RF]])

In [ ]:
for cf_name, cf in classifiers:
    cf.fit(xtrain,ytrain)
    TResult=cf.predict(xtest)
    TAccuracy=metrics.accuracy_score(ytest,TResult)
    print(TAccuracy)

C:\Users\Administrator\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Administrator\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Administrator\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.7998771624526564

In [ ]:
VC=VotingClassifier(estimators=classifiers)
VC.fit(xtrain,ytrain)
VResult=VC.predict(xtest)
metrics.accuracy_score(ytest,VResult)