In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn import neighbors
from sklearn.neighbors import KNeighborsClassifier
from sklearn import svm
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import VotingClassifier

In [2]:
data=pd.read_csv("bikebuyers.csv")
data.head()

,Id,Marital Status,Gender,MaritalStatusNumeric,GenderNumeric,Income,Children,EducationNumeric,CommuteDistanceNumeric,Cars,Age,HomeOwnerNumeric,PurchaseBikeNumeric,Education,Occupation,Home Owner,Commute Distance,Region,Purchased Bike
0,19147,Married,Male,1,0,40000,0,4,1,1,42,0,0,Bachelors,Professional,No,0-1 Miles,North America,No
1,22296,Married,Male,1,0,70000,0,4,1,1,38,0,0,Bachelors,Professional,No,0-1 Miles,North America,No
2,25983,Married,Male,1,0,70000,0,4,1,1,43,0,0,Bachelors,Professional,No,0-1 Miles,North America,No
3,29134,Married,Male,1,0,60000,4,4,5,3,42,0,0,Bachelors,Skilled Manual,No,10+ Miles,North America,No
4,27388,Married,Male,1,0,60000,3,4,2,2,66,0,0,Bachelors,Management,No,1-2 Miles,North America,No

In [3]:
data['Marital Status'],class_names=pd.factorize(data['Marital Status'])
data['Gender'],_=pd.factorize(data['Gender'])
data['Education'],_=pd.factorize(data['Education'])
data['Occupation'],_=pd.factorize(data['Occupation'])
data['Home Owner'],_=pd.factorize(data['Home Owner'])
data['Commute Distance'],_=pd.factorize(data['Commute Distance'])
data['Region'],_=pd.factorize(data['Region'])
data['Purchased Bike'],_=pd.factorize(data['Purchased Bike'])
data.head()

,Id,Marital Status,Gender,MaritalStatusNumeric,GenderNumeric,Income,Children,EducationNumeric,CommuteDistanceNumeric,Cars,Age,HomeOwnerNumeric,PurchaseBikeNumeric,Education,Occupation,Home Owner,Commute Distance,Region,Purchased Bike
0,19147,0,0,1,0,40000,0,4,1,1,42,0,0,0,0,0,0,0,0
1,22296,0,0,1,0,70000,0,4,1,1,38,0,0,0,0,0,0,0,0
2,25983,0,0,1,0,70000,0,4,1,1,43,0,0,0,0,0,0,0,0
3,29134,0,0,1,0,60000,4,4,5,3,42,0,0,0,1,0,1,0,0
4,27388,0,0,1,0,60000,3,4,2,2,66,0,0,0,2,0,2,0,0

In [4]:
x=data.iloc[:,:-1].values
y=data.iloc[:,-1:].values.reshape(-1,1)

In [5]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3,random_state=0)

In [6]:
LR=LogisticRegression()
LR.fit(xtrain,ytrain)
LResult=LR.predict(xtest)
metrics.accuracy_score(ytest,LResult)

C:\Users\Administrator\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Administrator\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

1.0

In [7]:
SVM=svm.SVC(kernel='linear')
SVM.fit(xtrain,ytrain)
SResult=SVM.predict(xtest)
metrics.accuracy_score(ytest,SResult)

C:\Users\Administrator\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.6533333333333333

In [8]:
KNN=KNeighborsClassifier()
KNN.fit(xtrain,ytrain)
KResult=KNN.predict(xtest)
metrics.accuracy_score(ytest,KResult)

C:\Users\Administrator\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

0.5333333333333333

In [9]:
DT=DecisionTreeClassifier()
DT.fit(xtrain,ytrain)
DResult=DT.predict(xtest)
metrics.accuracy_score(ytest,DResult)

1.0

In [10]:
RF=RandomForestClassifier()
RF.fit(xtrain,ytrain)
RResult=RF.predict(xtest)
metrics.accuracy_score(ytest,RResult)

C:\Users\Administrator\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Administrator\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

1.0

In [11]:
classifiers=([['A',LR],['B',SVM],['C',KNN],['D',DT],['E',RF]])

In [12]:
for cf_name, cf in classifiers:
    cf.fit(xtrain,ytrain)
    TResult=cf.predict(xtest)
    TAccuracy=metrics.accuracy_score(ytest,TResult)
    print(TAccuracy)

C:\Users\Administrator\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Administrator\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Administrator\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

1.0
0.6533333333333333
0.5333333333333333
1.0
1.0

C:\Users\Administrator\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

C:\Users\Administrator\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

In [13]:
VC=VotingClassifier(estimators=classifiers)
VC.fit(xtrain,ytrain)
VResult=VC.predict(xtest)
metrics.accuracy_score(ytest,VResult)

C:\Users\Administrator\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:219: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Administrator\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:252: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Administrator\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

1.0