In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn import neighbors
from sklearn.neighbors import KNeighborsClassifier
from sklearn import svm
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import VotingClassifier

In [6]:
data=pd.read_csv("CARD_SUBWAY_MONTH_201501_day.csv", engine='python', header=0)
data.head()

       사용일자  노선명  역ID     역명  승차총승객수  하차총승객수      등록일자      사용일자.1 사용요일
0  20150101  2호선  236  영등포구청    6199    6219  20151217  2015-01-01    목
1  20150101  2호선  237     당산    7982    8946  20151217  2015-01-01    목
2  20150101  2호선  238     합정   17406   15241  20151217  2015-01-01    목
3  20150101  2호선  239   홍대입구   57469   51756  20151217  2015-01-01    목
4  20150101  2호선  240     신촌   30115   27766  20151217  2015-01-01    목

In [32]:
data2=data.groupby(['역명','사용요일']).mean()
data3=data2['하차총승객수']
data3.head()

역명  사용요일
가능  금       7655.40
    목       6977.20
    수       7823.25
    월       7933.25
    일       5055.50
Name: 하차총승객수, dtype: float64

In [33]:
df1 = pd.DataFrame(data3)

In [34]:
df1

                   하차총승객수
역명        사용요일
가능        금      7655.400
          목      6977.200
          수      7823.250
          월      7933.250
          일      5055.500
          토      6347.400
          화      7824.000
가락시장      금      9270.700
          목      8038.400
          수      9255.250
          월      9270.500
          일      4147.125
          토      6073.800
          화      9376.250
가산디지털단지   금     36898.600
          목     32725.800
          수     38543.125
          월     38969.750
          일     11185.625
          토     15832.900
          화     38893.875
가양        금     20830.200
          목     18038.600
          수     20325.250
          월     20779.500
          일     11531.750
          토     14377.400
          화     20591.250
가좌        금      2424.800
          목      2217.600
...                   ...
회기        토     24543.600
          화     30436.000
회룡        금     14267.800
          목     12874.400
          수     14567.250
          월     14473.250
          일      9170.750
          토     12041.800
          화     14775.000
회현        금     34822.400
          목     29880.800
          수     34974.250
          월     35000.500
          일     12045.000
          토     28370.800
          화     36149.250
효창공원앞     금      8468.600
          목      7548.800
          수      8632.500
          월      8772.000
          일      4040.500
          토      5415.000
          화      8911.750
흑석(중앙대입구) 금     11630.200
          목     10240.800
          수     11736.750
          월     11824.250
          일      7203.250
          토      8576.000
          화     11927.000

[3325 rows x 1 columns]

In [30]:
#df1.iloc[df1['사용요일'] == '금']
df1.iloc[[0,1],0]

사용요일
금    14720.444732
목    12816.144334
Name: 하차총승객수, dtype: float64

In [43]:
new_index= ['역명','사용요일']

In [44]:
df1.reindex(new_index)

TypeError: Expected tuple, got str