In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn import svm
from sklearn import neighbors
from sklearn import datasets
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.ensemble import VotingClassifier

In [2]:
data=pd.read_csv("titanic.csv")
data.head()

,PassengerClass,Gender,Age,SiblingSpouse,ParentChild,FarePrice,PortEmbarkation,Scored Labels
0,1,male,22,1,1,7.25,S,0
1,1,female,38,1,1,71.28,C,1
2,2,female,40,3,0,34.50,S,1
3,1,male,12,0,0,51.60,C,0
4,1,female,3,1,2,18.40,Q,1

In [3]:
data['Gender'],class_names=pd.factorize(data['Gender'])
data['PortEmbarkation'],_=pd.factorize(data['PortEmbarkation'])
data

,PassengerClass,Gender,Age,SiblingSpouse,ParentChild,FarePrice,PortEmbarkation,Scored Labels
0,1,0,22,1,1,7.25,0,0
1,1,1,38,1,1,71.28,1,1
2,2,1,40,3,0,34.50,0,1
3,1,0,12,0,0,51.60,1,0
4,1,1,3,1,2,18.40,2,1
5,2,0,45,1,0,11.30,1,0
6,1,1,23,2,2,16.70,2,1
7,3,0,16,0,0,30.10,1,1
8,1,1,21,2,1,20.30,0,1
9,2,0,58,1,1,18.80,1,0

In [4]:
x=data.iloc[:,:-1].values
y=data.iloc[:,-1:].values.reshape(-1,1)
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3,random_state=0)

In [5]:
LR=LogisticRegression()
LR.fit(xtrain,ytrain)
LResult=LR.predict(xtest)
metrics.accuracy_score(ytest,LResult)

C:\Users\Administrator\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Administrator\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.6666666666666666

In [6]:
SVM=svm.SVC(kernel='linear')
SVM.fit(xtrain,ytrain)
SResult=SVM.predict(xtest)
metrics.accuracy_score(ytest,SResult)

C:\Users\Administrator\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

1.0

In [7]:
DT=DecisionTreeClassifier()
DT.fit(xtrain,ytrain)
DResult=DT.predict(xtest)
metrics.accuracy_score(ytest,DResult)

1.0

In [8]:
KNN=KNeighborsClassifier()
KNN.fit(xtrain,ytrain)
KResult=KNN.predict(xtest)
metrics.accuracy_score(ytest,KResult)

C:\Users\Administrator\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

0.0

In [9]:
RF=RandomForestClassifier()
RF.fit(xtrain,ytrain)
RResult=RF.predict(xtest)
metrics.accuracy_score(ytest,RResult)

C:\Users\Administrator\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Administrator\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

0.0

In [10]:
classifiers=([['A',LR],['B',SVM],['C',KNN],['D',DT],['E',RF]])

In [11]:
for cf_names,cf in classifiers:
    cf.fit(xtrain, ytrain)
    TResult=cf.predict(xtest)
    TAccuracy=metrics.accuracy_score(ytest,TResult)
    print(TAccuracy)

0.6666666666666666
1.0
0.0
1.0
0.0

C:\Users\Administrator\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Administrator\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Administrator\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Administrator\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

C:\Users\Administrator\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

In [13]:
VC=VotingClassifier(estimators=classifiers)
VC.fit(xtrain,ytrain)
VResult=VC.predict(xtest)
metrics.accuracy_score(ytest,VResult)

C:\Users\Administrator\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:219: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Administrator\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:252: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Administrator\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

1.0