In [2]:
print("Hello, World Python")

Hello, World Python

In [3]:
name="이순신"
name

'이순신'

In [5]:
name = input("입력해주세요:")
print(name)

입력해주세요:이중구
이중구

In [6]:
print(3+10)
print(3**10)
print(3%10)
print(3/2)
print(10>=3)

13
59049
3
1.5
True

In [7]:
for name in [1,2,3,4]:
    print(name)

1
2
3
4

In [8]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [12]:
for a in range(2,10):
    for b in range(1,10):
        print("%d x %d = %d" % (a,b,a*b))

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [13]:
name = "john"
for s in name:
    print(s)

j
o
h
n

In [14]:
a=0
while a<100:
    print(a)
    a +=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [15]:
names=['인천','송도','연수','남동']
print(names)

['인천', '송도', '연수', '남동']

In [16]:
names.append('동춘')
print(names)

['인천', '송도', '연수', '남동', '동춘']

In [17]:
print(len(names))

5

In [18]:
print(names[0], names[3])

인천 남동

In [19]:
print(names[-1])

동춘

In [20]:
print(names[0:3])

['인천', '송도', '연수']

In [26]:
print(names[:])

['인천', '송도', '연수', '남동', '동춘']

In [27]:
names=("이순신","강감찬","권율")
print(names[0])
del names[0]

이순신

TypeError: 'tuple' object doesn't support item deletion

In [32]:
menus={'caffelatte':2500, 'icelatte':3000, 'hotchoco':2000}
print(menus)
menus['caffelatte']

{'caffelatte': 2500, 'icelatte': 3000, 'hotchoco': 2000}

2500

In [33]:
menu=input('would you something to drink?')
print(menus[menu])

would you something to drink?icelatte
3000