In [22]:
import pandas as pd
import numpy as np

data={'Team':['Tom','John','John','Amy'], 'Rank':[1,2,2,3], 'Year':[2014,2016,2016,2018], 'Point':[10,15,20,10]}
df=pd.DataFrame(data)
df.groupby('Team')['Point'].mean()
df.groupby('Team')['Point'].sum()
#df.groupby('Team').groups
#df2=df.groupby('Team')

#for name,group in df2:
 #   print(name,group)
    
# Merging & Join
# pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=True)

left=pd.DataFrame({'id':[1,2,3,4,5],'Name':['Alex','Amy','Allen','Alice','Ayoung'],'subject_id':['sub1','sub2','sub4','sub6','sub5']})
right=pd.DataFrame({'id':[1,2,3,4,5],'Name':['Alex2','Amy2','Allen2','Alice2','Ayoung2'],'subject_id':['sub2','sub4','sub3','sub6','sub5']})
print(left,right)
left
print(pd.merge(left,right,on='id'))
pd.merge(left,right,on=['id','subject_id'])
pd.merge(left,right,on='subject_id')
pd.merge(left,right,on='subject_id', how='left')
pd.merge(left,right,on='subject_id', how='right')

#how
#left=> LEFT OUTER JOIN
#right=> RIGHT OUTER JOIN
#outer=> FULL OUTER JOIN
#inner=> INNER JOIN
pd.merge(left,right)

   id    Name subject_id
0   1    Alex       sub1
1   2     Amy       sub2
2   3   Allen       sub4
3   4   Alice       sub6
4   5  Ayoung       sub5    id     Name subject_id
0   1    Alex2       sub2
1   2     Amy2       sub4
2   3   Allen2       sub3
3   4   Alice2       sub6
4   5  Ayoung2       sub5
   id  Name_x subject_id_x   Name_y subject_id_y
0   1    Alex         sub1    Alex2         sub2
1   2     Amy         sub2     Amy2         sub4
2   3   Allen         sub4   Allen2         sub3
3   4   Alice         sub6   Alice2         sub6
4   5  Ayoung         sub5  Ayoung2         sub5

Empty DataFrame
Columns: [id, Name, subject_id]
Index: []