In [25]:
import pandas as pd
import numpy as np

df=pd.DataFrame(np.random.randn(5,2), index=[2,1,0,3,4])
df.sort_index(ascending=False) #default=True
df.sort_index(axis=1)
df.rename(columns={df.columns[0]:"col1", df.columns[1]:"col2"}, inplace=True)

df.sort_values(by='col1')
df.sort_values(by='col2')
df.sort_values(by=['col1','col2'])
df.sort_values(by=['col1','col2'], ascending=[True,False], inplace=True)
df

# Missing Data -> Na of NAN
df2=pd.DataFrame(np.random.randn(5,3), index=['a','c','e','f','h'], columns=['one','two','three'])
df2
df3=df2.reindex(['a','b','c','d','e','f','g','h'])
df3.isnull()
df3['one'].isnull()
df3['one'].notnull()

print(df3)
df3['one'].sum()

        one       two     three
a -0.370162 -1.180176  0.751395
b       NaN       NaN       NaN
c  0.323430 -1.083679 -0.041675
d       NaN       NaN       NaN
e  0.387129  1.585075 -0.684710
f  0.280884 -0.258127 -0.116715
g       NaN       NaN       NaN
h -0.136366 -2.642270  2.142967

0.48491474122249834

In [34]:
df4=pd.DataFrame(index=[0,1,2,3,4,5], columns=['one','two'])
#print(df4)
#print(df4.sum())
#print(df4['one'].sum())

df4.fillna(0)
df3.dropna()

        one       two     three
a -0.370162 -1.180176  0.751395
c  0.323430 -1.083679 -0.041675
e  0.387129  1.585075 -0.684710
f  0.280884 -0.258127 -0.116715
h -0.136366 -2.642270  2.142967